/* Color Palette */
/* #E5B3DC */
/* #F7C1BB */
/* #F9FB9D */
/* #B4E4E4 */
/* #D2E6B3 */

:root {
    --lavender: hsla(311, 49%, 80%, 1);
    --pink: hsla(6, 79%, 85%, 1);
    --yellow: hsla(61, 92%, 80%, 1);
    --blue: hsla(180, 47%, 80%, 1);
    --green: hsla(84, 50%, 80%, 1);
}

.App {
    display: flex;
    flex-direction: column;
    font: montserrat;
}
