/* Color Palette */
/* #E5B3DC */
/* #F7C1BB */
/* #F9FB9D */
/* #B4E4E4 */
/* #D2E6B3 */

:root {
    --lavender: hsla(311, 49%, 80%, 1);
    --pink: hsla(6, 79%, 85%, 1);
    --yellow: hsla(61, 92%, 80%, 1);
    --blue: hsla(180, 47%, 80%, 1);
    --green: hsla(84, 50%, 80%, 1);
}

.App {
    display: flex;
    flex-direction: column;
    font-family: montserrat;
}

btn {
    border: 1px;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.app-footer {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lavender;
    min-height: 30%;
    width: 100%;
}

.app-footer-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.app-footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.rect-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
