/* Color Palette */
/* #E5B3DC */
/* #F7C1BB */
/* #F9FB9D */
/* #B4E4E4 */
/* #D2E6B3 */

:root {
    --lavender: hsla(311, 49%, 80%, 1);
    --pink: hsla(6, 79%, 85%, 1);
    --yellow: hsla(61, 92%, 80%, 1);
    --blue: hsla(180, 47%, 80%, 1);
    --green: hsla(84, 50%, 80%, 1);
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* font-family: "montserrat"; */
}

.App::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

.App::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 6px;
    transition: opacity 500ms ease;
    background-color: rgba(200, 200, 200, 0.5);
    cursor: pointer;
    height: 60%;
}

btn {
    border: 1px;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.app-footer {
    margin: 2rem 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lavender;
    height: 10rem;
    /* min-height: 30%; */
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

.app-footer-detail {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 2rem;
    font-size: 1.2em;
}

.app-footer-social {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 2rem;
}

.main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    /* width: 100%; */
}

.main-navbar-left {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}

.main-navbar-left a {
    margin-right: 1rem;
}

.main-navbar-center {
    font-weight: 600;
    font-size: 1.5em;
}

.main-navbar-right {
    margin-right: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.rect-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
